@page
@model Restrunant.Pages.Admin.FoodTypes.IndexModel
@{
}
<div class="container p-4  border border-0 border-body rounded " style="box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);">
    <div class="row pt-4 d-flex justify-content-between ">
        <div class="col-6">
            <h2 class="text-body">Food Type List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary "> <i class="bi bi-clipboard-plus-fill"></i> Create New Food Type</a>
        </div>
    </div>
    <br /><br />
    
    <table class="table   text-center " >
        <thead >
            <tr>
                <th></th>
              
               <th>
                     Name
               </th>
               
                <th> <i class="bi bi-gear-wide-connected"></i> Action</th>
            </tr>

        </thead>
        <tbody  >
            @foreach (var i in Model.food)
            {


                <tr>
                    <th><i class="bi bi-bookmark-star-fill"></i></th>
                   
                <td>
                    @i.Name
                </td>
                
                <td>
                    
                            <a asp-page="Edit" asp-route-Id="@i.Id" class="btn btn-outline-warning"><i class="bi bi-vector-pen"></i></a>
                        <a asp-page="Delete" asp-route-Id="@i.Id" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></a>
                    
                </td>
            </tr>
            }
        </tbody>

    </table>
   

</div>